li a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url(../images/main-rats.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
}

h1 {
    font-size: 15vw;
}

h2 {
    font-size: 25px;
}
