li a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url(../images/main-rats.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
}

h1 {
    font-size: 15vw;
     /* Claude suggested this value in order to make the site more responsive*/
}

h2 {
    font-size: 40px;
}

button:hover{
    text-decoration: underline;
}
